.tradeFormContainer {
    margin: 1rem 0.5rem 0 0.5rem;
    
    .tradeFormSection {
        border-radius: 15px;
        margin: auto;
        border: 2px solid var(--tg-theme-section-bg-color);
        background: var(--tg-theme-section-bg-color);

        .segment {
            background: var(--tg-theme-section-bg-color);
        }

        .activeBuy {
            background-color: lightgreen;
        }
        
        .activeSell {
            background-color: lightcoral;
        }

        .tradeFormInput, .tradeFormButton {
            width: 100%;
            padding: 0.5rem;
        }

        .tradeFormButton {
            border-radius: 10px;
            background: var(--tg-theme-button-color);
            color: var(--tg-theme-button-text-color);
            margin: auto;
        }

        .tradeFormInput {
            background: var(--tg-theme-section-bg-color) !important;
            color: var(--tg-theme-text-color);
            margin: auto;
            border-radius: 0;
        }

        .tonCoinImg {
            margin-left: 0.5rem;
            background-color: #007AFF;
        }

        .coinImg {
            margin-left: 0.5rem;
        }

        .inputAfterContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }
    }
}