.coin-card {
  background-color: #{var(--tg-theme-section-bg-color)};

  &__ticker {
    font-weight: 500;
    color: #{var(--tg-theme-text-color)};
  }

  &__cap-value {
    color: #{var(--tg-theme-button-color)};
  }
}
