.ton-connect-page__placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.ton-connect-page__button {
  margin: 16px auto 0;
}

.wallet-balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 200px;

  &__num {
    display: flex;
    align-items: center;
    gap: 12px;

    &__icon {
      width: 32px;
      height: 32px;
    }
  }

  &__uid {

    &__desc {
      width: 80%;
      text-align: center;
    }

    &__img {
      width: 128px;
    }
  }
}

.wallet-jettons {
  margin-top: 16px;
}

.wallet-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
