.cardContainer{
  margin: 0.5rem;
  height: 23.8rem;
  background-color: var(--tg-theme-section-bg-color);

.chartContainer {
  .chartImage {
    height: 100% !important;
    width: 100% !important;
  }
}
}
