.chartComp {
  background-color: var(--tg-theme-section-bg-color);
  color: var(--tg-theme-text-color);
  border-radius: 10px;
  margin: 1rem 0.5rem;

  .accordionSummary {
    border-radius: 10px;
  }

  .accordionSummary:hover {
    background-color: var(--tg-theme-section-bg-color);
  }

  .accordionContent {
    .cardContainer{
      border-radius: 0;
      height: 23.8rem;
      background-color: var(--tg-theme-section-bg-color);
    
    .chartContainer {
      .cardCell {
        background-color: var(--tg-theme-section-bg-color);
        color: var(--tg-theme-text-color);
      }
      .chartImage {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}
}